html {
  scroll-behavior: smooth;
}
body {
  background-color: #fcb07e;
  font-family: 'Josefin Sans', sans-serif;
}
#contents {
  margin-left: 300px;
  margin-right: 300px;
  color: #2f4b26;
  font-family: 'Josefin Sans', sans-serif;
}

#title {
  background-color: #274c77;
  padding: 10px;
}
h1 {
  color: #ffffff;
  text-align: center;
}
h2 {
  color: #ffffff;
  text-align: center;
}

#pg-break {
  height: 20px;
}

#image-even {
  border-style: solid;
  border-width: 5px;
  border-color: #2f4b26;
}

#image-odd {
  border-style: solid;
  border-width: 5px;
  border-color: #2f4b26;
}

#footer {
  background-color: #274c77;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}
a {
  color: #FFFFFF;
}
