html {
  scroll-behavior: smooth;
}

#contents {
  margin-left: 300px;
  margin-right: 300px;
  color: #424242;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

#title {
  background-color: #e7a38d;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2 {
  color: #3f5184;
  text-align: center;
}
h3 {
  color: #edb255;
  font-weight: bolder;
}

#footer {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #e7a38d;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}

.mediabody {
  opacity: 0;
  transition: all 200ms ease-in;
}
.js-mediabody-animate {
  opacity: 1;
}


.image {
  position: relative; }

.image:hover:after {
  position: absolute;
  content: attr(title);
  display: inline-block;
  left: 0px;
  top: 0px;
  padding: 5px;
  background-color: black;
  color: white; }
