html {
  scroll-behavior: smooth;
}

#contents {
  margin-left: 300px;
  margin-right: 300px;
  color: #424242;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

#title {
  background-color: #e7a38d;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2 {
  color: #FFFFFF;
  text-align: center;
}
h3 {
  color: #edb255;
  font-weight: bolder;
}
h4 {
  color: #3f5184;
}

#footer {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #e7a38d;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}

.mediabody, .mediabody2, .mediabody3, .mediabody4, .mediabody5, .mediabody6 {
  opacity: 0;
  transition: all 200ms ease-in;
}
.js-mediabody-animate, .js-mediabody-animate2, .js-mediabody-animate3, .js-mediabody-animate4, .js-mediabody-animate5, .js-mediabody-animate6{
  opacity: 1;
}


.image {
  position: relative; }

.image:hover:after {
  position: absolute;
  content: attr(title);
  display: inline-block;
  left: 0px;
  top: 0px;
  padding: 5px;
  background-color: black;
  color: white; }

  /*Hide Display elements*/
  #myDIV, #myDIV2, #myDIV3, #myDIV4, #myDIV5, #myDIV6 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightgreen;
    margin-top: 20px;
  }
